<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
</head>
<body>

  <!-- Define o formato do site : inteiro ou centralizado -->
  <div class="container shadow-sm mt-5" >

    <div class="row" style="background-color: #f1f1f1">

      <div class="col-lg-8 p-5 mt-5 ml-5">
        <h1><span>Matheus</span></h1>
          <h1> <strong>Ramos Cardoso</strong> </h1>
          </div>
          <!-- Serve para criar uma coluna e linha  -->
          <div class="text-right col-lg p-5 mt-5">
            <h6 class="text-right"><a href=""> Rua Vivaldo Ramos </a><i class="fas fa-home roxo "></i> </h6>
            <h6 class="text-right"><a href="">+55 (44) 99148-6780 </a><i class="fa fa-phone  roxo"></i></h6>
            <h6 class="text-right"><a href="https://www.gmail.com" target="_blank">ramosmatheusc </a><i class="fas fa-envelope  roxo"></i> </h6>
            <h6 class="text-right"><a href="https://www.linkedin.com/in/ramosmatheusc/" target="_blank">Perfil Linkdin</a> <i class="fab fa-linkedin  roxo"> </i></h6>
            <h6 class="text-right"><a href="https://twitter.com/RamosMatheusc" target="_blank">Twitter/</a><a href="https://github.com/ramosmatheus" target="_blank">Git/</a><a href="https://www.facebook.com/matheusramoscardoso" target="_blank">Facebook</a> <i class="fa fa-globe roxo " aria-hidden="true"> </i></h6>
          </div>
        </div>



        <div class="container p-3">
          <div class="row">
            <div class="col-2 text-right"><i class="fas fa-bars icon" ></i></div>
            <div class="col-8 mt-2"><h5><strong>Objetivo</strong></h5>
              <span style="font-size:13px;">Quando eu tiver algum objetivo na minha vida eu coloco aqui.</span>

            </div>

            <div class="w-100"></div>
            <div class="col-2 text-right"><i class="fas fa-graduation-cap icon"></i></div>
            <div class="col-8 mt-2"><h5><strong>Educação</strong></h5>
              <span>Análise e Desenvolvimento de Sistemas</span>
            </div>
            <div class="w-100"></div>
            <div class="col-2 text-right"><i class="fas fa-briefcase icon"></i></div>
            <div class="col-8 mt-2"><h5><strong>Experiência</strong></h5></div>
            <div class="w-100"></div>
            <div class="col-2 text-right"><i class="fas fa-tools icon"></i></div>
            <div class="col-8 mt-2"><h5><strong>Habilidades</strong></h5></div>
            <div class="w-100"></div>
            <div class="col-2 text-right"><i class="fas fa-ellipsis-h icon"></i></div>
            <div class="col-8 mt-2"><h5><strong>Atividades</strong></h5></div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  </html>
