{% extends 'modelo.html' %}
{% load static %}

{% block sobre %}
{{ block.super }}
<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Olá meu nome é Matheus Ramos Cardoso</h2>
        <p class="text-white-50">
          Estou cursando o 3ºAno de Análise e Desenvolvimentos de Sistemas no Instituto Federal do Paraná - Campus Paranavaí e desenvolvendo meu TCC.
        </p>
        <p class="text-white-50">
          Meu TCC consiste no desenvolvimento de um software WEB/MOBILE, para o gerenciamento de viagens com o veículo oficial do campus.<br />
          Esse software vai conter alguns cadastros como: Cadastro de servidores, cadastro de dependentes, cadastro de responsaveis, cadastro de veiculo e cadastro de solicitação de viagem.<br />
        </p>
        <p class="text-white-50">
          <strong>Diagrama de Casos de Uso</strong>
          <img src="{%static 'img/casoDeUso.png' %}" alt="">
        </p>
        <p class="text-white-50">
          <strong>Diagrama de Casos de Uso</strong>
          <img src="{%static 'img/casoDeUso.png' %}" alt="">
        </p>
        <p class="text-white-50">
          <strong>Diagrama de Casos de Uso</strong>
          <img src="{%static 'img/casoDeUso.png' %}" alt="">
        </p>

      </div>
    </div>
    <img src="{% static 'img/ipad.png' %}" class="img-fluid" alt="">
  </div>
</section>
{% endblock %}
